html {
  background-color: #F5F5F5;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.box .top {
  width: 100%;
  height: 15rem;
  background: url(../image/my/bg1.png) no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box .top img {
  width: 4rem;
}
.box .top .top_a {
  border: 1px solid #fff;
  color: white;
  width: 4rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
}
.box .top .abs {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  height: 3rem;
  display: flex;
}
.box .top .abs a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  width: 50%;
}
.box .top .abs a img {
  width: 1.3rem;
}
.box .bottom {
  width: 100%;
  margin-top: 1rem;
  background-color: #fff;
}
.box .bottom ul {
  display: flex;
  flex-direction: column;
  padding: 0 1.3rem;
  box-sizing: border-box;
}
.box .bottom ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #ccc;
}
.box .bottom ul li:nth-of-type(2) a {
  background: url(../image/my/icon2.png) no-repeat;
  background-size: contain;
}
.box .bottom ul li:nth-of-type(3) a {
  background: url(../image/my/icon3.png) no-repeat;
  background-size: contain;
}
.box .bottom ul li:nth-of-type(4) a {
  background: url(../image/my/icon4.png) no-repeat;
  background-size: contain;
}
.box .bottom ul li a {
  padding-left: 1.5rem;
  background: url(../image/my/icon1.png) no-repeat;
  background-size: contain;
  font-size: 0.9rem;
  color: #666;
}
.box .bottom ul li img {
  width: 0.5rem;
}
