.top {
  width: 100%;
  height: 3rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  line-height: 3rem;
  padding: 0 1rem;
  box-sizing: border-box;
}
.top p {
  font-weight: 700;
  font-size: 0.9rem;
}
.top p span {
  font-weight: 500;
}
.art_p {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.art_p span:first-of-type {
  border: 1px solid #6DA719;
  color: #6DA719;
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
}
.art_p span:last-of-type {
  color: #FF8A00;
}
